.kit-separator {
	display: block;
	flex: 1 1 100%;
	height: 0px;
	max-height: 0px;
	opacity: var(--separator-opacity, 0.12);
	transition: inherit;
	border-color: var(--separator-color, var(--kit-state-shadow));
	border-style: solid;
}

.kit-separator--inset:not(.kit-separator--orientation-vertical) {
	max-width: calc(100% - 4.5rem);
	margin-inline-start: 4.5rem;
}

.kit-separator--inset.kit-separator--orientation-vertical {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	max-height: calc(100% - 1rem);
}

.kit-separator:not(.kit-separator--orientation-vertical) {
	width: 100%;
}

.kit-separator[breakpoint]kit-separator--orientation-horizontal {
	border-width: var(--separator-top-width, thin) 0 0 0;
}

.kit-separator[breakpoint]kit-separator--orientation-vertical {
	align-self: stretch;
	border-width: 0 thin 0 0;
	display: inline-flex;
	height: auto;
	margin-left: 0px;
	max-height: 100%;
	max-width: 0px;
	vertical-align: text-bottom;
	width: 0px;
	border-width: 0 var(--separator-right-width, thin) 0 0;
}
